body {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(90deg, aquamarine, cornsilk);
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    gap: 3rem;
}

h1 {
    color: #000;
    font-size: 2.5em;
    text-align: center;
    margin: 1rem 0;
}

h2 {
    color: #000;
    font-size: 2.0em;
    text-align: center;
}

p {
    color: #000;
    font-size: 2em;
    text-align: center;
}

#presentacio p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.container {
    margin: 0 auto;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.container h2 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

.productes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
    gap: 1rem;
}

.productes div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.4rem .8rem;
    box-shadow: 1px 1px 10px black;
    background: white;
}

.productes div:hover {
    background-color: azure;
    transform: scale(1.1);
}

.productes div p {
    font-size: 1.3rem;
    margin-top: 0;
}

.imatges {
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.overlay.hidden {
    display: none; /* Hide overlay */
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 20;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    bottom: 150px;
}

.btn-close {
    transform: translate(-210px, 10px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
}

#carrito {
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#carrito ul {
    list-style-type: none;
}

#carritoHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}

#total {
    font-weight: bold;
    font-size: 1.2rem;
}

#borrar {
    display: inline;
    color: red;
    margin-right: 1rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

#totalCompra {
    display: fixed;
    position: sticky;
    justify-items: right;
    bottom: 0;
    margin-bottom: 2rem;
    text-align: right;
}
